*{margin:0;padding:0;box-sizing:border-box}body{height:100vh;display:flex;flex-direction:column}header,footer,main{display:flex;justify-content:center;align-items:center}main{flex:1}.grid-container{display:grid;grid-template-columns:repeat(40, 1fr)}.grid-square{outline:1px solid black;height:40px;width:40px}

