$grid-outline-color: #000000;
$empty-color: #ffffff;
$start-node-color: #00ffff;
$end-node-color: #7700ff;
$barrier-color: #000000;
$final-path-color: #ffff00;
$open-list-color: #00ff00;
$closed-list-color: #ff0000;

$primary-color: #3a3a3a;
$secondary-color: #ff0000;
$text-color: #ffffff;

$button-text-color: #ffff00;
$button-text-hover-color: #000000;
$button-color: #000000;
$button-hover-color: #ffff00;
$button-active-color: #00c5c5;
$button-focus-color: #00c5c5;
$start-button-color: #00ff00;
$generate-maze-button-color: #ffff00;
