$grid-outline-color: rgba(54, 54, 54, 0.3);
$empty-color: #ffffff;
$start-node-color: #19c9c0;
$end-node-color: #aa5fff;
$barrier-color: #363636;
$final-path-color: #ffff47;
$open-list-color: #4fff4f;
$closed-list-color: #ff3838;

$header-bg-color: #3d455a;
$footer-bg-color: #3d455a;
$header-txt-color: #ffffff;
$footer-txt-color: #ffffff;
$bg-color: white;
$text-color: #424242;

$button-text-color: #363636;
$button-bg-color: #ffffff;
$button-bg-hover-color: #3d455a;
$button-txt-hover-color: #ffffff;
$start-button-color: #19c9c0;
$start-button-txt-color: #ffffff;
$generate-maze-button-color: #3d455a;
$generate-maze-button-txt-color: #ffffff;

$help-btn-bg-color: #19c9c0;
$help-btn-text-color: #ffffff;
