$grid-outline-color: #000000;
$empty-color: #ffffff;
$start-node-color: #00ffff;
$end-node-color: #7700ff;
$barrier-color: #000000;
$final-path-color: #ffff00;
$open-list-color: #00ff00;
$closed-list-color: #ff0000;

$primary-color: #3a3a3a;
$secondary-color: #ff0000;
$text-color: #ffffff;

$button-color: #ffffff;
$start-button: #00ff00;
